<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script
            src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../static/CSS/gogo_shooshook.css" rel="stylesheet">
    <script src="../static/JS/index.js"></script>
    <title>슈슉시간표</title>
</head>
<nav>
    <span>슈슉시간표</span>
</nav>
<body>
    <div class="page_index ">
        <div style="overflow-y: hidden; padding: 0px 16px;">
            <div class="sect_table">
                <table class="table_1">
                    <thead>
                            <th class="period"></th>
                            <th class="week">월</th>
                            <th class="week">화</th>
                            <th class="week">수</th>
                            <th class="week">목</th>
                            <th class="week">금</th>
                    </thead>
                    <tbody>
                        {% for period in range(9, end_time+1) %}
                        <tr class="time_{{period}}_0  bottom_dash">
                            <th rowspan="2" class=" period">{{period}}</th>
                            <td class="time_block bottom_dash mon"></td>
                            <td class="time_block bottom_dash tue"></td>
                            <td class="time_block bottom_dash wed"></td>
                            <td class="time_block bottom_dash thr" ></td>
                            <td class="time_block bottom_dash fri"></td>
                        </tr>
                        <tr class="time_{{period}}_1 upper_none">
                            <td class="time_block upper_none mon"></td>
                            <td class="time_block upper_none tue"></td>
                            <td class="time_block upper_none wed"></td>
                            <td class="time_block upper_none thr" ></td>
                            <td class="time_block upper_none fri"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="lecture_container">
                    <div class="tmp_container">
                        <div class="lecture_gray_container">

                        </div>
                    </div>

                </div>

        </div>
        
        </div>
        <div id="resizer" class="resizer">
            <span class="resizer_icon"></span>
        </div>
        <div class="sect_controller">
            <form>
                <input maxlength="10" placeholder="수업 이름을 입력하세요." name="subject" class="subject_name">
                {% set colors = [ "coral", "purple", "green", "gray"] %}
                <div class="color_container">
                    <input name="color_selected" class="color_selected" value="blue">
                    <span onclick="clicked_color(this)" data-color="blue" class="selected blue color_select"></span>
                    {% for color in colors %}
                    <span onclick="clicked_color(this)" data-color="{{color}}" class="{{color}} color_select"></span>
                    {% endfor %}
                </div>
                <div class="cards_plusbtn_pack">
                    <div class="cards_container">
                    </div>          
                <div onclick="clicked_plus_btn(this)" class="plus_btn">
                    <img src="../static/img/icons/icon_plus.svg"></img>
                </div>
                </div>
        </div>
        <div class="sect_bottom">
            <div class="btn_container">
                <div class="btn_download">
                    <img src="../static/img/icons/icon_download.svg">
                </div>
                <button type="reset" onclick="clicked_submit_btn(this)" class="add_lecture">수업 추가하기</button>
            </div>
        </div>
    </form>
    </div>
    
    
</body>
</html>