<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../static/CSS/gogo_shooshook.css" rel="stylesheet">
    <script src="../static/JS/index.js"></script>
    <title>슈슉시간표</title>
</head>
<nav>
    <span>슈슉시간표</span>
</nav>
<body>
    <div class="page_index">
        <div class="sect_table">
            <table class="table_1">
                <thead>
                        <th class="period"></th>
                        <th class="week">월</th>
                        <th class="week">화</th>
                        <th class="week">수</th>
                        <th class="week">목</th>
                        <th class="week">금</th>
                </thead>
                <tbody>
                    {% for period in range(9, 18) %}
                    <tr class="time_{{period}}_0  bottom_dash">
                        <th rowspan="2" class=" period">{{period}}</th>
                        <td class="time_block bottom_dash mon"></td>
                        <td class="time_block bottom_dash tue"></td>
                        <td class="time_block bottom_dash wed"></td>
                        <td class="time_block bottom_dash thr" ></td>
                        <td class="time_block bottom_dash fri"></td>
                    </tr>
                    <tr class="time_{{period}}_1 upper_none">
                        <td class="time_block upper_none mon"></td>
                        <td class="time_block upper_none tue"></td>
                        <td class="time_block upper_none wed"></td>
                        <td class="time_block upper_none thr" ></td>
                        <td class="time_block upper_none fri"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="lecture_container">
                {% for lecture in lectures %}
                <div onclick='if(confirm("{{lecture.subject}} 과목을 삭제합니다.")) {remove_subject(this)}' data-name="{{lecture.name}}" data-start="{{lecture.position_facs['y_factor']}}" data-end="{{lecture.position_facs['y_factor']+lecture.position_facs['y_factor']}}" class="{{lecture.name}} lecture {{lecture.color}} x_{{lecture.position_facs['x_factor']}} y_{{lecture.position_facs['y_factor']}} length_{{lecture.position_facs['length_factor']}}">
                    <div class="subject">{{lecture.subject}}</div>
                    <div class="room">{{lecture.room}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div id="resizer" class="resizer">
            <span class="resizer_icon"></span>
        </div>
        <div class="sect_controller">
            <form>
                <input maxlength="10" placeholder="수업 이름을 입력하세요." name="subject" class="subject">
                {% set colors = ["blue", "coral", "purple", "green", "gray"] %}
                <div class="color_container">
                    {% for color in colors %}
                    <span class="{{color}} color_select"></span>
                    {% endfor %}
                </div>
                <div class="cards_container">

                </div>
            </form>
        </div>
    </div>
    
    
</body>
</html>